.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--purple-darkest);
  box-shadow: -5px 5px 10px 10px var(--purple-darkest),
    5px -5px 10px 10px var(--purple-darkest);

  img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
  }

  @media (prefers-reduced-motion) {
    &:hover {
      box-shadow: -5px 5px 10px 10px var(--purple-dark),
        5px -5px 10px 10px var(--purple-dark);
    }
  }
}

.hoveredCircle {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: -5px 5px 10px 10px var(--purple-dark),
    5px -5px 10px 10px var(--purple-dark);

  img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.straigth {
  .circle,
  .hoveredCircle {
    @media (width < 580px) {
      display: none;
    }
    @media (height < 600px) {
      display: none;
    }
  }
}

.l {
  width: 150px;
  height: 150px;

  img {
    width: 150px;
    height: 150px;
  }
}

.linkWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding: 16px;
}

.navText {
  font-family: var(--font-barriecito);
  font-size: 1.4rem;
  text-align: center;
}

.link {
  padding: 16px;
}

.activeLink {
  border-radius: 45px;
  box-shadow: 1px 0px 5px 2px var(--pink-normal);
}
