.container {
  border: 2px solid var(--green-darkest);
  background-color: var(--green-light);
  color: var(--green-darkest);
  width: max-content;
  min-height: 30px;
  border-radius: 10px;
  padding: 4px 8px;
}
