.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  a {
    text-decoration: underline;
    color: rgb(202, 89, 225);
  }

  ul {
    padding: 0 20px;
    list-style: none;

    li::before {
      content: "⭐ ";
      font-size: 1.2rem;
    }
  }

  details > summary {
    list-style-type: "▶️";
  }

  details[open] > summary {
    list-style-type: "🔽";
  }

  details > summary:hover {
    box-shadow: 5px 0px 9px 2px #85f1f7;
    border-radius: 6px;
  }

  details > div {
    padding: 16px;
  }

  header {
    display: flex;
    z-index: 2;
    width: 100%;
    padding: 32px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid white;
    align-items: center;

    a {
      text-decoration: none;
    }

    background-image: linear-gradient(
      180deg,
      hsl(176deg 73% 9%) 0%,
      hsl(182deg 67% 8%) 21%,
      hsl(191deg 62% 8%) 30%,
      hsl(204deg 56% 8%) 39%,
      hsl(229deg 51% 8%) 46%,
      hsl(256deg 81% 6%) 54%,
      hsl(256deg 81% 5%) 61%,
      hsl(256deg 81% 4%) 69%,
      hsl(256deg 81% 3%) 79%,
      hsl(0deg 0% 0%) 100%
    );
  }
}

.navbarContainer {
  overflow-x: auto;
}

.bodyContainer {
  padding: 64px;
  max-width: 100ch;
  margin: auto;

  @media (width < 600px) {
    padding: 64px 16px;
  }

  overflow-x: auto;

  p {
    max-width: 100ch;
  }
}

.imgContainer {
  display: flex;
  flex-direction: row;
  gap: 0;
}

.tagContainer {
  display: flex;
  flex-direction: row;
  gap: 4px;
  flex-wrap: wrap;
}
