:root {
  --foreground: white;
  --blue-darkest: #00080e;
  --cyan-light: #87c0c0;
  --gray-normal: gray;
  --gray-darkest: #353535;
  --green-light: #6ecd8e;
  --green-darkest: #022e05;
  --pink-lightest: #d0b4ec;
  --pink-light: plum;
  --pink-normal: #ca59e1;
  --purple-normal: purple;
  --purple-dark: #3e2f6e;
  --purple-dark2: #341235;
  --purple-darkest: #1b103d;
  --white-normal: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: white;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  color: var(--foreground);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
