.imgContainer {
  display: flex;
}

.alt {
  border-radius: 5px;
  border: 2px solid var(--gray-darkest);
  background-color: var(--gray-normal);
  color: var(--white-normal);
  font-size: 1rem;
  font-weight: 500;
  width: fit-content;
  height: fit-content;
  padding: 4px;
  position: relative;
  top: 5px;
  right: 50px;
  cursor: pointer;
}

.clicked {
  background-color: var(--cyan-light);
}

.altContainer {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.altText {
  font-size: 0.9rem;
  padding-bottom: 8px;
}
